fastapi>=0.115,<0.116
uvicorn[standard]>=0.34,<0.35
python-multipart>=0.0,<0.1
soundfile>=0.13,<0.14
aiofiles>=24,<25
miniaudio>=0.5
joblib>=1.0
decorator>=5.0
lazy_loader>=0.1
msgpack>=1.0
platformdirs>=2.0
pooch>=1.0
audioread>=3.0
